/* استفاده از متغیرهای CSS برای رنگ‌ها و اندازه‌ها */
:root {
    --primary-color: #000;
    --secondary-color: #ccc;
    --text-color: #333;
    --background-color: #f7f7f7;
    --skeleton-bg: #e0e0e0;
    --skeleton-animation-bg: #f7f7f7;
    --font-size-small: 0.6rem;
    --font-size-medium: 0.8rem;
    --font-size-large: 1.5rem;
    --gap-size: 1.5rem;
}

/* Reset margin and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    color: var(--text-color);
}

.cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    gap: 45px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.site-header {
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-identity h1 {
    font-size: var(--font-size-large);
    margin: 0.6em 0;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em;
    position: relative;
}

.site-navigation li::after {
    content: "";
    position: absolute;
    width: 100%;
    background: var(--primary-color);
    height: 2px;
    bottom: -1px;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.site-navigation li:hover::after {
    opacity: 1;
}

#main {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-size);
}

@media screen and (max-width: 1000px) {
    #main {
        grid-template-columns: repeat(3, 1fr);
    }

    .cont {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
    }

    .site-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-medium);
    }

    .cont {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    #main {
        grid-template-columns: 1fr;
    }

    .site-header {
        font-size: var(--font-size-small);
    }

    footer h2 {
        font-size: var(--font-size-small);
    }
}

/* استایل کارت‌ها */
.card {
    box-shadow: 0px 0px 4px 0px var(--secondary-color);
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 16px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 6px;
}

.card a {
    color: var(--text-color);
    text-decoration: none;
}

.card h3 {
    color: var(--text-color);
    height: 45px;
    overflow: hidden;
    margin-block:25px 10px;
}

.card .img {
    position: relative;
    transition: 0.5s;
}

.card .img .ani {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 49%;
    border-radius: 6px;
    left: 50.5%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}

.card .img:hover .ani , .card:hover .img .ani {
    opacity: 0.5;
}

.card .img span {
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.card .img:hover span , .card:hover .img span{
    opacity: 1;
}

#then {
    display: flex;
    gap: 15px;
}

#then button {
    all: unset;
    padding-block: 6px;
    padding-inline: 18px;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    color: var(--primary-color);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#then button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* استایل لودینگ */
.skeleton-loader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 70%;
    padding: 20px;
}

.card.skeleton {
    width: 200px;
    height: 350px;
    background-color: var(--skeleton-bg);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.skeleton-img,
.skeleton-text {
    background: linear-gradient(90deg, var(--skeleton-bg) 25%, var(--skeleton-animation-bg) 50%, var(--skeleton-bg) 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
    border-radius: 5px;
}

.skeleton-img {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}

.skeleton-text {
    height: 20px;
    margin-bottom: 10px;
}

.price.skeleton-text {
    width: 50%;
    height: 20px;
    margin-top: auto;
}

@keyframes loading {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

/* انیمیشن‌های fade */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--secondary-color);
    margin-top: 3rem;
    color: var(--secondary-color);
    font-size: var(--font-size-small);
    font-weight: 400;
}

footer h2 {
    font-weight: 100;
}
